<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="post">
            {% csrf_token %}
            <label for="id">Sid</label>
            <select name="id" id="id" multiple>
                {% for a in SS %}
                    <option value="{{a}}">{{a.Sid}}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>